.mapa-enfermaria {
    width: 83vw;
    margin: auto;
    margin-top: 5vh;
}

.linha-mapa {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: stretch;
}

.celula-enfermaria{
    background: #fff;
    padding: 5px;
    text-align: center;
    border: 2px solid #ddd;
    margin: 3px;
    height: 100%;
} 

.celula-enfermaria p {
    margin: 0;
    font-weight: bold;
}