#planilha {
  background-color: #ccc;
  width: 80%;
  margin: 20px auto;
  border: 1px solid #ccc;
}

.linha {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1.5fr;
  /* border-bottom: 1px solid #ddd; */
  align-items: center;
}

.linha3 {
  display: grid;
  grid-template-columns: 2fr 2fr 1.5fr;
  /* border-bottom: 1px solid #ddd; */
  align-items: center;
}

.celula {
  background: white;
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.cabecalho {
  background: #f2f2f2;
  font-weight: bold;
}

.celula[contenteditable="true"] {
  cursor: text;
}

.celula:focus {
  outline: 2px solid #4da3ff;
}



#formulario {
  display: none; 
  margin: auto;
  margin-top: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  background: #f8f8f8;
  width: 400px;
}

#abir {
  margin: auto 0;
}