<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css' ) }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css' ) }}">

    <!--
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="./css/custom.css">
    -->

    <title>Chamada de enfermagem</title>
</head>
<body>
    <div class="container-fluid">

        <div class="col mt-5 w-25 mx-auto d-block">
            <div class="row">
                <img src="./static/img/logo-cor.png" class="mx-auto d-block" alt="">
            </div>

            <div class="row">
                <h1 class="text-login text-danger text-center">Login</h1>
            </div>

            <div>
                <form action="/auth/login" method="POST">
                    <div class="row mt-3">
                        <label class="text">Usuário</label>
                        <input class="inp-borda form-control mx-auto d-block" type="text" name="username" >
                    </div>

                    <div class="row mt-3">
                        <label class="text">Senha</label>
                        <input class="inp-borda form-control mx-auto d-block" type="password" name="password" >
                    </div>

                    <div class="row mt-3">
                        <input class="btn btn-danger" type="submit" value="Acessar" >
                    </div>
                </form>

            </div>
        </div>

    </div>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.js' ) }}"></script>
    <!-- <script src="./bootstrap/js/bootstrap.bundle.js"></script> --> 
</body>
</html>