<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

  <title>Chamada de enfermagem</title>
</head>

<body>
  <header>
    <nav class="navbar bg-danger">
      <div class="container-fluid">
        <a class="navbar-brand">
          <img src="static/img/logo2.png" alt="Logo" width="150">
        </a>
        <div class="px-3">
          <h1 class="text-white m-0">Chamada de enfermagem</h1>
        </div>
      </div>
    </nav>
  </header>

  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <nav class="col-md-1 col-lg-1 d-md-block bg-light sidebar vh-100 ">
        <div class="d-flex flex-column align-items-center">
          <ul class="nav nav-pills flex-column mb-auto text-center ">
            <li>
              <a href="/relatorio" class="nav-link py-2 px-2">
                <img src="static/img/icons/home.png" alt="" class="icon-side">
              </a>
            </li>
            <li>
              <a href="/usuarios" class="nav-link py-2 px-2">
                <img src="static/img/icons/usuarios-alt.png" alt="" class="icon-side">
              </a>
            </li>
            <li>
              <a href="/dispositivos" class="nav-link py-2 px-2">
                <img src="static/img/icons/computador.png" alt="" class="icon-side">
              </a>
            </li>
            
          </ul>
          <div class="dropdown mt-auto">
            <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle"
              id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="static/img/icons/usuario.png" alt="" class="icon-side">
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
              <li><a class="dropdown-item" href="/auth/logout">Sair</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- Conteúdo -->
      <main class="col">
        <div class="row box-container dados-rapidos">
          <div class="col borda-conteiner m-3">
            <p>Enfermarias:</p>
            <h1>5</h1>
          </div>
          <div class="col borda-conteiner m-3">
            <p>Total de chamadas:</p>
            <h1>65</h1>
          </div>
        </div>

        <div class="row box-container">
          <div class="col borda-conteiner m-3">
            <div class="row m-3">
              <h3 class="float-end">Gráficos:</h3>
              <select id="tipo-grafico" class="form-select" style="width:250px">
                <option value="hora" selected>Chamadas por hora</option>
                <option value="mes">Chamadas no mês</option>
              </select>
              <canvas id="grafico-chamadas" style="width: 50vw"></canvas>
            </div>
          </div>

          <div class="col borda-conteiner m-3">
            <div class="row w-75 mx-auto">
              <h3>Chamadas recentes:</h3>
              <div id="chamadas-lista">
                <!-- Lista para visualizacao -->
              
                
              </div>
              <div class="paginacao">
                <a href="#" class="prev">«</a>
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#" class="next">»</a>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>

  <!-- Scripts -->
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.js') }}"></script>
  <script src="{{ url_for('static', filename='chart.js/Chart.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/chamadas.js') }}"></script>
  <script src="{{ url_for('static', filename='js/grafico.js') }}"></script>
</body>

</html>
