<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tabela.css') }}">

  <title>Chamada de enfermagem</title>
</head>

<body>
  <header>
    <nav class="navbar bg-danger">
      <div class="container-fluid">
        <a class="navbar-brand">
          <img src="static/img/logo2.png" alt="Logo" width="150">
        </a>
        <div class="px-3">
          <h1 class="text-white m-0">Chamada de enfermagem</h1>
        </div>
      </div>
    </nav>
  </header>

  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <nav class="col-md-1 col-lg-1 d-md-block bg-light sidebar vh-100 ">
        <div class="d-flex flex-column align-items-center">
          <ul class="nav nav-pills flex-column mb-auto text-center w-100">
            <li>
              <a href="/relatorio" class="nav-link py-2 px-2">
                <img src="static/img/icons/home.png" alt="" class="icon-side">
              </a>
            </li>
            <li>
              <a href="/usuarios" class="nav-link py-2 px-2">
                <img src="static/img/icons/usuarios-alt.png" alt="" class="icon-side">
              </a>
            </li>
            <li>
              <a href="/controladores" class="nav-link py-2 px-2">
                <img src="static/img/icons/computador.png" alt="" class="icon-side">
              </a>
            </li>
            
          </ul>
          <div class="dropdown mt-auto">
            <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle"
              id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="static/img/icons/usuario.png" alt="" class="icon-side">
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
              <li><a class="dropdown-item" href="#">Sair</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- Conteudo -->
       <div class="col">
            <div class="usuarios-tabela">
                <div id="planilha" class="borda-conteiner">
                  <div class="linha">
                    <div class="celula cabecalho">Id</div>
                    <div class="celula cabecalho">Nome</div>
                    <div class="celula cabecalho">Funcao</div>
                    <div class="celula cabecalho">Ações</div>
                  </div>
                    <div id="userTable">
                      
                    </div>
                </div>
            </div>

            <div class="formularioAddUser">
              <button id="abrir">Novo usuário</button>

              <div id="formulario">
                <h3>Cadastrar Usuário</h3>
                <form id="formUser">
                  <label>Nome:</label>
                  <input type="text" name="username" required><br><br>

                  
                  
                  <label>Senha:</label>
                  <input type="text" name="password" required><br><br>
                  
                  <label for="funcao">Função:</label>
                  <select id="funcao" name="role">
                    <option value="admin">Administrador</option>
                    <option value="usuario">Usuário</option>
                  </select>
                  <button type="submit">Salvar</button>
                  <button type="button" id="fechar">Cancelar</button>
                </form>
              </div>
              
            </div>
       </div>

  <!-- Scripts -->
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.js') }}"></script>
  <script src="{{ url_for('static', filename='chart.js/Chart.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/usuarios.js') }}"></script>
</body>

</html>