.text-login {
    font-size: 40pt;
}

.img-pequena {
    width: 10px;
    
}

.inp-borda {
    border-width: 3px;
    border-color: black;
}

.borda-conteiner {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1vw;
}