nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(94, 94, 94);
    height: 5rem;
    box-sizing: border-box;
    width: 100%;
}

nav a img {
    width: 150px;
    height: 50px;
}

nav h1 {
    font-size: 40px;
}

.icons {
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    font-size: 18px;
    gap: 20px;
}

.fa {
    border: 1px solid white;
    border-radius: 5px;
    padding: 15px;
}



/*  BREAKPOINTS */
@media (min-width: 344px) {
    nav {
        flex-direction: row;
        justify-content: space-between;
        padding: 15px 30px;
    }

    nav a img {
        width: 80px;
        height: 27px;
        margin-bottom: 0;
    }

    nav h1 {
        font-size: 12px;
        text-align: center;
    }

    .icons {
        font-size: 12px;
        gap: 10px;
    }

    .fa {
        padding: 7px;
    }

    h4 {
        font-size: 12px;
    }
}


@media (min-width: 768px) {

    nav h1 {
        font-size: 18px;
        text-align: center;
    }

    nav a img {
        width: 120px;
        height: 40px;
    }

    .icons {
        font-size: 12px;
    }

    .fa {
        padding: 10px;
    }

    h4 {
        font-size: 15px;
    }
}


@media (min-width: 992px) {
    nav h1 {
        font-size: 34px;
    }

    nav a img {
        width: 160px;
        height: 60px;
    }

    .icons {
        font-size: 14px;
    }

    .fa {
        padding: 12px;
    }

    h4 {
        font-size: 18px;
    }

}


@media (min-width: 1200px) {
    nav h1 {
        font-size: 40px;
    }

    .icons {
        font-size: 18px;
    }

    .fa {
        padding: 15px;
    }
}