@import url(header.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html,
body {
    height: 100%;
}

body {
    background-color: black;
}

.default {
    background-color: #ffffff;
}

.hide {
    display: none;
}

.show {
    display: block;
}

img {
    width: 280px;
    height: 100px;
}

a img{
    border: none;
    outline: none;
}

i,
a,
button,
.btn {
    cursor: pointer;
}

h1,
h4,
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    color: rgb(148, 147, 147);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
}

.login-form {
    background-color: rgba(184, 191, 197, .4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 550px;
    height: 550px;
    gap: 20px;
    border: 1px solid rgba(131, 131, 131, .4);
    border-radius: 15px;
}


input {
    border: 1px solid rgba(128, 128, 128, .5);
    border-radius: 8px;
    height: 40px;
    padding: 6px;
}

button {
    border-radius: 4px;
    border: 1px transparent;
    height: 40px;
    padding: 10px;
}

.btn {
    background-color: #a52a2a;
    color: #ffffff;
    font-size: 16px;
    width: auto;
    padding: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background-color: #882424;
}

.btn-primary {
    background-color: #007bff;
    color: #ffffff;
    font-size: 16px;
    width: auto;
    padding: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.btn-primary:hover {
    background-color: #0168d6;
}

.btn-warning {
    background-color: #ffc107;
    color: #212529;
    font-size: 16px;
    width: auto;
    padding: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.btn-warning:hover {
    background-color: #dba605;
}

.dashboard-user {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 100px;
    flex-flow: wrap;

}

.gauge {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.chart {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    cursor: pointer;
}

.chart-background {
    background-color: rgba(68, 67, 67, 0.6);
    border-radius: 8px;
}

.room-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 100px 100px 10px 100px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 8px;
}

.room-card {
    background-color: rgba(68, 67, 67, .6);
    border-radius: 3px;
    color: #ffffff;
    align-items: center;
    justify-items: center;
    cursor: pointer;
    padding: 10px;
    gap: 20px;
    transition: transform 0.2 ease, box-shadow 0.2s ease;
}

.room-card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.temp {
    background-color: rgba(68, 67, 67, .6);
    align-items: center;
    justify-items: center;
    cursor: pointer;
    padding: 20px;
    height: 100%;
}


.umid {
    background-color: rgba(68, 67, 67, .6);
    align-items: center;
    justify-items: center;
    cursor: pointer;
    padding: 20px;
    height: 100%;
}

.dashboard-admin {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 5rem);
    width: 100%;
}

.menu-lateral {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 40px;
    width: 17%;
    height: 100%;
    gap: 30px;
    background-color: rgb(255, 255, 255);
    border-right: 1px solid rgb(219, 218, 218);
}

.menu-lateral a {
    display: flex;
    align-items: center;
    color: #495057;
    text-align: center;
    /* padding-top: 40px; */
    padding-left: 40px;
    width: 100%;
    transition: background-color 0.2s;
}

.menu-lateral a:hover {
    background-color: #e6e6e6;
    color: rgb(195, 0, 10);
}

.menu-lateral .btn {
    width: 300px;
}

hr {
    border: none;
    height: 2px;
    background-color: #e6e6e6;
    width: 80%;
    margin: 0;
}

.menu-lateral .fa{
    border: none;
}

.menu-principal {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 83%;
    height: 100%;
    gap: 20px;
    background-color: rgb(255, 255, 255);
}

.menu-principal .room-card{
    background-color: rgba(221, 217, 217, 0.6);
    border: 1px solid rgba(197, 197, 197, 0.6);
    border-radius: 3px;
    color: #747373;
    align-items: center;
    justify-items: center;
    cursor: pointer;
    padding: 10px;
    gap: 20px;
    transition: transform 0.2 ease, box-shadow 0.2s ease;

}

table {
    text-align: center;
}

table tr:nth-child(even) {
    background-color: #e2e1e1;
}

table th,
table td {
    padding: 12px 16px;
    line-height: 1.5;
}

caption {
    font-size: 1.5em;
    margin-bottom: 2em;
}

.admin-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    width: 80%;
    margin: 5rem 4rem;
    gap: 20px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.3);
}

dialog {
    margin: auto;
    padding: 20px;
    width: 500px;
    max-width: 90vw;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    ;
}

dialog form {
    display: flex;
    justify-content: center;
    align-items: left;
    padding: 20px;
    gap: 15px;
    width: 100%;
}

dialog form input {
    border: 1px solid rgba(128, 128, 128, .5);
    border-radius: 8px;
    max-width: 80vw;
}

dialog h3 {
    color: #000000;
    text-align: center;
}

.relatorio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin-top: 30px;
    gap: 20px;
    padding: 15px;
    /* background: #f3f3f3; */
    border-radius: 8px;
}


#response,
#deleteMessage {
    color: red;
    font-weight: bold;
    margin-top: 5px;
    opacity: 1;
    transition: opacity 1s ease;
}

.fade-out {
    opacity: 0;
}

.alert{
    width: 100%;
    background-color: rgb(244, 214, 210);
    color: rgb(118, 46, 35);
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
}

.relatorio label,
.relatorio input,
.relatorio button {
    margin: 8px 0;
}

.relatorio button {
    padding: 8px 12px;
    background-color: #bb0202;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    width: 200px;
    font-size: 18px;
}


/*  BREAKPOINTS */
@media (max-width: 767px) {
    .gauge {
        margin-top: 3rem;
        gap: 2rem;
    }

    .monitor {
        flex-direction: column;
        margin-top: 3rem;
        gap: 1px;
    }

    .temp,
    .umid {
        padding: 5px;
    }

    .room-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 100px 100px 10px 100px;
        align-items: center;
        justify-content: center;
        gap: 20px;
        border-radius: 8px;
    }
}