nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(94, 94, 94);
    height: 5rem;
    box-sizing: border-box;
    width: 100%;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(195, 0, 10);
    height: 5rem;
    box-sizing: border-box;
    width: 100%;
}

nav a img {
    width: 150px;
    height: 50px;
}

nav h1 {
    font-size: 40px;
}

.navbar a img {
    width: 150px;
    height: 50px;
}

.navbar h1 {
    font-size: 40px;
}

.icons {
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    font-size: 18px;
    gap: 20px;
}

.fa {
    border: 1px solid white;
    border-radius: 5px;
    padding: 15px;
}

a#menu {
    border: none;
    color: #ffffff;
    display: none;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    font-size: 21px;
}

#menu i {
    border: none;
}

#menu i:hover {
    border: 1px solid #ffffff;
}



/*  BREAKPOINTS */
@media (min-width: 344px) {

    nav h1{
        font-size: 15px;
        padding: 10px;
    }

    nav {
        flex-direction: row;
        justify-content: space-between;
        padding: 15px 30px;
    }

    nav a img {
        width: 80px;
        height: 27px;
        margin-bottom: 0;
    }

    .navbar {
        flex-direction: row;
        justify-content: space-between;
        padding: 15px 30px;
    }

    .navbar a img {
        width: 80px;
        height: 27px;
        margin-bottom: 0;
    }

    nav h1 {
        font-size: 20px;
        text-align: center;
    }

    .navbar h1 {
        font-size: 20px;
        text-align: center;
    }

    .icons {
        font-size: 20px;
        gap: 10px;
    }

    .fa {
        padding: 7px;
    }

    h4 {
        font-size: 18px;
    }

    a#menu {
        border: none;
        color: #ffffff;
        display: block;
        text-align: center;
        padding: 10px;
        cursor: pointer;
        font-size: 21px;
    }

    #menu-img {
        display: none;
    }
}


@media (min-width: 768px) {
    nav h1 {
        font-size: 20px;
        text-align: center;
        padding: 10px;
    }

    .navbar h1 {
        font-size: 22px;
        text-align: center;
    }

    nav a img {
        width: 120px;
        height: 40px;
    }

    .navbar a img {
        width: 120px;
        height: 40px;
    }

    .icons {
        font-size: 20px;
    }

    .fa {
        padding: 10px;
    }

    h4 {
        font-size: 18px;
    }

}


@media (min-width: 902px) {
    nav h1 {
        font-size: 33px;
    }

    .navbar h1 {
        font-size: 34px;
    }

    nav a img {
        width: 160px;
        height: 60px;
    }

    .navbar a img {
        width: 160px;
        height: 60px;
    }

    .icons {
        font-size: 14px;
    }

    .fa {
        padding: 12px;
    }

    h4 {
        font-size: 18px;
    }
    
    a#menu {
        display: none;
    }

    #menu-img {
        display: block;
    }

}


@media (min-width: 1200px) {
    nav h1 {
        font-size: 40px;
    }

    .icons {
        font-size: 18px;
    }

    .fa {
        padding: 15px;
    }
}